.container {
  background-color: #2c3e50;
}

.noPosts {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px 10px 0;
}

.edit {
  margin: 0 10px 0 0;
}

.title {
  font-weight:800;
  font-size: .5em;
}

.display {
  font-family: 'Orelega One';
}

