<div class="container">
    <div class="display-4 display text-center">Ramble On...
    </div>
    <div class="row">
      <div class="col">
        <form class="form" (submit)="onAddPost(postForm)" #postForm="ngForm">
          <div class="form-group justify-content-center">
            <label for="title">Title</label>
              <input
              type="text"
              class="title form-control"
              aria-describedby=""
              placeholder="Enter a title for your post"
              name="title"
              ngModel
              />
            <!-- <small id="" class="form-text text-muted"></small> -->
          </div>
          <div class="form-group">
            <label for="contentArea" class="form-label mt-4">Content</label>
            <textarea
            rows="5"
            class="form-control"
            placeholder="Add Content"
            name="content"
            ngModel>
            </textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Save Post</button>
          <hr>
        </form>
      </div>
    </div>
</div>


