<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #34495E;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TRUCK-U</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page 1</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stuff!
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">More Stuff!</a></li>
            <li><a class="dropdown-item" href="#">Still More Stuff!</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Holy Crap...Stuff</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"></a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col logo">
      <img class="truck" src="/../assets/images/TRUCK-U-2.png">
    </div>
    <div class="col-6 middle">
      <h1>Middle Section</h1>
    </div>
    <div class="col right">
      <h1>Right Section</h1>
    </div>
  </div>
  <div class="row">
    <div class="col logo">
      <h1>Left Section</h1>
    </div>
    <div class="col-6 middle">
      <h1>Middle Section</h1>
    </div>
    <div class="col right">
      <h1>Right Section</h1>
    </div>
  </div>
  <div class="row">
    <div class="col logo">
      <h1>Left Section</h1>
    </div>
    <div class="col-6 middle">
      <h1>Middle Section</h1>
    </div>
    <div class="col right">
      <h1>Right Section</h1>
    </div>
  </div>
</div>
