<div class="container-fluid">
  <div class="row">
    <div class="col loginImage">
      <img src="/../assets/images/TRUCK-U-2.png" width="15%">
    </div>
  </div>
  <div class="row">
    <div class="col loginForm">
      <div class="form" style="width: 20%">
        <div class="form-group">
          <label for="validationDefault01">Username:</label>
          <input type="text" class="form-control" id="validationDefault01" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="validationDefault02">Password:</label>
          <input type="password" class="form-control" for="validationDefault02" placeholder="Password">
        </div>
        <div>
          <button type="submit" (click)="onAddPost()" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

