<div class="container">
  <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://www.nicepng.com/png/detail/24-242581_mw-logo-png-dr-pepper-soda-logo.png" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4>Dr. Pepper</h4>
                  <p class="text-secondary mb-1"></p>
                  <p class="text-muted font-size-sm">Frisco, TX</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3 mb-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                <span class="text-secondary">@DrP</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                <span class="text-secondary">DrP</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                <span class="text-secondary">dpeps</span>
              </li>
            </ul>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://images.squarespace-cdn.com/content/v1/54cbe2d7e4b0771a2345aed1/1559854158612-7NOK8D9AEN2JAMD3ODT6/DR_PEPPER_02-0550.jpg?format=1000w" alt="Admin" class="hq" width="100%">
                <div class="mt-3">
                  <!-- <h4>Dr. Pepper</h4> -->
                  <p class="text-secondary mb-1"></p>
                  <p class="text-muted font-size-sm">Transportation Director</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://www.hackneybeverage.com/wp-content/uploads/2014/06/P1010055w.jpg" alt="Admin" class="hq" width="100%">
                <div class="mt-3">
                  <!-- <h4>Dr. Pepper</h4> -->
                  <p class="text-secondary mb-1"></p>
                  <p class="text-muted font-size-sm">Truckin'!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Company Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Dr. Pepper Bottling Company
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Transportation Director</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Lil' Sweet
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  thesweetone@drpepper.com
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Office</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  (214) 777-1234
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Frisco, TX
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-info " target="__blank" href="">Edit</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row gutters-sm">
            <div class="col-sm-6 mb-3">
              <div class="card h-60">
                <div class="card-body">
                  <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2 truckuFont">Statistics</i></h6>
                  <small>15,000 -  Trucks  on  the  Road</small>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <small>16,275,554,212 -  Bottles  Delivered  in  2021</small>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <small>21,000 - Fulltime Drivers</small>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <small>1752 - Tires Changed in 2021</small>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 84%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <small>Infinity - Happy Customers</small>
                  <div class="progress mb-3" style="height: 5px">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="card text-black bg-light mb-3">
                <div class="card-header truckuFont">From 1885</div>
                <div class="card-body">
                  <h4 class="card-title truckuFont"></h4>
                  <p class="card-text">The name "Dr. Pepper" was first used commercially in 1885. It was introduced nationally in   the United States at the 1904 Louisiana Purchase Exposition as a new kind of soda pop, made with 23 flavors. Its introduction in 1885 preceded the introduction of Coca-Cola by one year.</p>

                  <p>It was formulated by Brooklyn-born pharmacist Charles Alderton in Morrison's Old Corner Drug Store in Waco, Texas To test his new drink, he first offered it to store owner Wade Morrison, who also found it to his liking. Patrons at Morrison's soda fountain soon learned of Alderton's new drink and began ordering a "Waco". Alderton gave the formula to Morrison, who named it Dr. Pepper (later stylized as "Dr Pepper").</p>

                  <p>Early advertisements for this soft drink made medical claims, stating that it "aids digestion and restores vim, vigor, and vitality."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
