<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="profile">
      <img src="/../assets/images/TRUCK-U-2.png" class="rounded img-fluid logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="reg">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/businessprofile">Business Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">Ramblin'</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="allposts">Past Ramblin'</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="users">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="marginBottom"></div>


