<div class="container">
  <div class="row">
    <div class="col center">
      <h3>Past Rambles...</h3>
    </div>
  </div>
  <div class="row">
    <div class="col center">
      <div class="accordion width" id="accordionExample" multi="true" *ngIf="posts.length > 0">
        <div class="accordion-item" *ngFor="let post of posts">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              {{ post.title }}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>{{ post.content }}</p>
            </div>
            <div class="buttons">
              <a type="button" class="btn btn-outline-info edit" [routerLink]="['/edit', post.id]">Edit</a>
              <button type="button" class="btn btn-outline-danger" (click)="onDelete(post.id)">Delete</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="noPosts" *ngIf="posts.length <= 0" >No posts created yet...</h3>
  </div>
</div>

