.noUsers {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px 10px 0;
}

.center {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.width {
  width: 50%;
}

.top {
  margin-top: 30px;
}

.passwordFont {
  font-size: x-small;
}
