<div class="container">
  <br>
  <br>
  <div class="row">
     <h3 class="placeholderText">Welcome to the Home Page</h3>
     <h5 class="placeholderText">(there will be more...I promise)</h5>
      <!-- <div class="col">
        <img class="bigRig" src="https://images.unsplash.com/photo-1591492964751-4e24cc0f4df9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
      </div> -->
  </div>
</div>

<div class="container">
  <div class="accordion" id="accordionExample" multi="true" *ngIf="users.length > 0">
    <div class="accordion-item" *ngFor="let user of users">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          {{ user.firstName }} {{ user.lastName }} {{ user.id }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>First Name: {{ user.firstName }}</p>
          <p>Last Name: {{ user.lastName }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Username: {{ user.userName }}</p>
          <p>Password: {{ user.password }}</p>
          <p>Personal Account: {{ user.personal }}</p>
          <p>Business Account: {{ user.business }}</p>
          <p>Administrator: {{ user.admin }}</p>
        </div>
        <div class="buttons">
          <a type="button" class="btn btn-outline-info edit" [routerLink]="['/edit', user.id]">Edit</a>
          <button type="button" class="btn btn-outline-danger" (click)="onDelete(user.id)">Delete</button>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="noUsers" *ngIf="users.length <= 0" >No users created yet...</p>
  </div>
</div>

