.placeholderText {
  display: flex;
  justify-content: center;
}

.bigRig {
  display: flex;
  justify-content: center;
  max-width: 50%;
  height:auto;
  margin-top: 5.5rem;
}

.noUsers {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px 10px 0;
}

.center {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.width {
  width: 50%;
}
